<div class="container">
  <h3>New FAQ</h3>
  <%= form_for @faq do |f| %>
    <%= f.label :question, 'Question' %>:
    <%= f.text_field :question %><br>
    <%= f.label :answer, 'Answer' %>:
    <%= f.text_field :answer %><br>
    <%= f.submit "Submit FAQ", :class => "btn-small" %>
    <%= link_to "Cancel", faqs_path, class: "btn-small red lighten-1" %>
  <% end %>
</div>
