<!DOCTYPE html>
<html>
  <head>
    <title>Ubook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- From React -->
    <%= javascript_pack_tag 'hello_react' %>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar grey lighten-3">
      <section class="container">
        <div id="logo-click" class="logo">
          <%= link_to image_tag("UBook-logo.png"), root_path , class: "ubook-logo-png" %>
        </div>
        <div class="bullet-links right">
          <ul>
            <!-- <li><i class="fas fa-toggle-on"></i></li> -->
            <% unless current_user %>
              <li><%= link_to '<i class="fas fa-sign-in-alt"></i><h5>Sign In</h5>'.html_safe, new_user_session_path, title:"Log In" %></li>
              <li><%= link_to '<i class="fas fa-user-plus"></i><h5>Sign Up</h5>'.html_safe, new_user_registration_path, title:"Sign Up" %></li>
            <% else %>
              <li><%= link_to '<i class="fas fa-sign-out-alt"></i><h5>Sign Out</h5>'.html_safe, destroy_user_session_path, method: :delete, title:"Log Out" %></li>
            <% end %>
          </ul>
        </div>
      </section>
    </nav>
    <div class="container">
      <p class="notice lighten-2"><%= notice %></p>
      <p class="alert lighten-2"><%= alert %></p>
    </div>
    <%= yield %>
    <!-- Compiled and minified JavaScript -->
    <script>
      $(document).ready(() => {
        // Initialize Materialize modal
        $('.modal').modal();
        //$('#agreeCheckBox').on("click", false);

        //makes checkbox checkable on ooen
        let termsOpen = document.getElementById('terms-open');
        termsOpen.addEventListener("click", function(event){
          event.preventDefault();
          $('#agreeCheckBox').on("click", true);
        })
        // Cancel button (better than the built in one for Materialize)
        let closeModal = document.getElementById('closeModalButton');
        closeModal.addEventListener("click", function(event){
          event.preventDefault();
          $('#termsOfService').modal('close');

        })
        // Terms of service agree function for form
        let agreeModal = document.getElementById('agreeModalButton');
        agreeModal.addEventListener("click", function(event){
          event.preventDefault();

          //agree logic here
          let agreeCheckBox = document.getElementById('agreeCheckBox');
          let hidebox = document.getElementById('hidebox');
          let termsOpen = document.getElementById('terms-open');
          agreeCheckBox.checked = true;
          termsOpen.style.display = 'none';
          $('#termsOfService').modal('close');
          hidebox.style.display = "block";
          $('#agreeCheckBox').on("click", false);
        });
      })
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script></script>
  </body>
</html>
